<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.mapper.PostMapper">
    <sql id="ordersColumns">
        u_id
        , p_id
		, menu
        , price
		, request
		, fee
		, remit
    </sql>

    <select id="getPostCategory" parameterType="String" resultType="PostDto">
        select * from post where post.r_id in (select r_id from restaurant where category=#{category});
    </select>

    <select id="getPostAll" resultType="PostDto">
        select * from post;
    </select>

    <insert id="createPost">
        INSERT INTO post (title, order_time, post_time, shooting_user, p_location, u_id, r_id) VALUES (#{title}, #{orderTime}, #{postTime}, #{shootingUser}, #{pLocation}, #{uId}, #{rId})
    </insert>

    <insert id="createOrders" parameterType="OrdersDto">
        INSERT INTO orders (
        <include refid="ordersColumns" />
        ) VALUES (
         #{uId}
        , #{pId}
        , #{menu}
        , #{price}
        , #{request}
        , #{fee}
        , #{remit}
        )
    </insert>
</mapper>